<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>About me</h1>
    <p>Bruce Frederick Joseph Springsteen, també conegut amb el nom de The Boss (Long Branch, Nova Jersey, EUA, el 23 de setembre del 1949),[2] és un cantant, compositor i guitarrista de rock estatunidenc.[3]

        Ha publicat 21 àlbums d'estudi durant una carrera de sis dècades, la majoria dels quals compta amb la seva banda de suport, la E Street Band. És un creador del heartland rock, un gènere que combina la música rock convencional amb lletres poètiques i socialment conscients que expliquen una narració sobre la vida de la classe treballadora estatunidenca. La intensitat dels seus enregistraments i concerts amb la E Street Band el converteixen en un dels artistes més carismàtics del món del rock. Ha estat considerat al costat de la E Street Band com la millor banda en directe de tots els temps.
        
        Springsteen ha venut més de 150 milions de discos a tot el món i més de 64 milions d'àlbums als Estats Units. Això el converteix en un dels artistes musicals amb més discos venuts arreu. Ha guanyat nombrosos premis pel seu treball, inclosos 20 premis Grammy, dos Globus d'Or, un premi de l'Acadèmia i un premi Tony (per Springsteen on Broadway). Springsteen va ser inclòs tant al Saló de la Fama dels Compositors com al Saló de la Fama del Rock and Roll el 1999. Va rebre el Kennedy Center Honors el 2009 i va ser guardonat amb la Medalla Presidencial de la Llibertat pel president Barack Obama el 2016. Es troba en el lloc número 23 de la llista dels millors artistes de tots els temps de la revista Rolling Stone.</p>
    <hr>
    <img src="images/Bruce.jpg">    
</body>
</html>