<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Photo Gallery</h1>
    <hr>
    <img src="images/Bruce.jpg">
    <img src="images/Bruce-guitar.jpg">
    <img src="images/Bruce-sing.jpg">
    <img src="images/The-river.jpg">
    <img src="images/Nebraska.jpg">
    <img src="images/Born-USA.jpg">
</body>
</html>