<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <p>En total, Springsteen té vint-i-un àlbums d'estudi, setanta-set senzills, set Extended Plays, vint-i-tres àlbums en directe, i vuit àlbums de recopilació. Ha venut més de cent cincuanta milions d'àlbums arreu del món, el qual el situa entre els artistes musicals amb més vendes de la història.</p>
    <h2>Àlbums d'estudi</h2>
    <ul>
        <li>1973: Greetings from Asbury Park, N.J.</li>
        <li>1973: The Wild, the Innocent & the E Street Shuffle</li>
        <li>1975: Born to Run</li>
        <li>1978: Darkness on the Edge of Town</li>
        <li>1980: The River</li>
        <li>1982: Nebraska</li>
        <li>1984: Born in the U.S.A.</li>
    </ul>
</body>
</html>